input[type="radio"] {
    display: none;
  }
  
  label img {
    cursor: pointer;
    border: 1px solid transparent;
  }
  
  input[type="radio"]:checked + label img {
    border-color: black;
  }

 


  input[type="radio"]:checked + .selected-image {
    transform: scale(1.1);
  }
  
  @keyframes zoom {
    0%{
        
    }
    100%{
        width:180px ;
        height: 180px;
    }
  }

  // Trying flex on for loop
  .flex-box {
    display: flex;
    flex-wrap: wrap;
    gap:0.5rem;
  }
  
  .flex-item {
    flex: 1 1 20%;
  }
  
  .show-item {
    display: block;
  }
  
