.block {
    display: block;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.glyphycon {
    color: white;
}

.second-screen {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.long-button {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    width: 312px;
}

// * {
//     border: 1px solid salmon;
// }

.prev {
    position: fixed;
    left: 3%;
    top: 3%;
    z-index: 101;
}

.back-button {
    width: fit-content;
    // margin-top: 0.5rem;
}

.back-button:disabled {

    background: #3a3a3a;
    color: #9e9e9e;
    border: 1.6px solid #b0b0b0;
}

.black {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.75rem;
    width: 100%;
    background: black;
    overflow: hidden;
}

.rolling-avatar {
    // position: absolute;
    // top: 50%;
    background: none;
    width: 100px;
    height: 100px;
}

// @keyframes roll-in {
//     0% {
//         transform: rotate(0deg);
//       }
//       100% {
//         transform: rotate(-360deg);
//       }
// }

* {
    animation-duration: 1.5s;
}

.space {
    margin-top: 2rem;
    margin-bottom: 2rem
}
.share{
    position:absolute;
    right:10%;
    top: 13%;

}