<!-- When loader is there -->
<ng-container *ngIf="loading">
  <app-loading></app-loading>
</ng-container>

<!-- After loading is done -->
<ng-container *ngIf="!loading">
  <!--content -->
  <div *ngIf="state == 1" class="flex-container">
    <app-name-form [form]="nameForm" (next)="next()"> </app-name-form>
  </div>

  <div
    *ngIf="state == 2"
    class="flex second-screen animate__animated animate__fadeInUp"
  >
    <div class="flex-container">
      <div class="">
        <div>
          <div *ngIf="usrName" class="flex-column space">
            <p class="head">Hello! {{ usrName }}</p>
            <h2 style="margin-top: 10px; margin-bottom: 10px">
              Choose your avatar
            </h2>
          </div>
          <app-avatar-form [form]="avatarForm" (next)="next()">
          </app-avatar-form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex-container avatar-form animate__animated animate__fadeInLeft"
    *ngIf="state == 3"
  >
    <div class="block">
      <div class="flex space">
        <div>
          <img
            class="avatar"
            style="flex: 1 1 20%"
            src="{{ avatarImg }}"
            alt=""
          />
        </div>
        <div class="name">
          <h2>{{ usrName }}</h2>
        </div>
      </div>
      <div class="flex">
        <div class="block">
          <div class="options">
            <button class="long-button" (click)="joinRoom()">
              Join a Room
            </button>
          </div>
          <div class="options">
            <button class="long-button" (click)="createRoom()">
              Create a Room
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="create"
    class="flex-container animate__animated animate__fadeInRight"
  >
    <div class="block">
      <div class="flex space">
        <div>
          <img class="avatar" src="{{ avatarImg }}" alt="" />
        </div>
        <div class="name">
          <h2>{{ usrName }}</h2>
        </div>
      </div>
      <app-create-room-form [form]="createRoomForm" (next)="createPage()">
      </app-create-room-form>
    </div>
  </div>

  <div
    class="fifth"
    class="flex-container animate__animated animate__fadeInRight"
    *ngIf="join"
  >
    <div class="block">
      <div class="flex space">
        <div>
          <img class="avatar" src="{{ avatarImg }}" alt="" />
        </div>
        <div class="name">
          <h2 style="font-size: 24px">{{ usrName }}</h2>
        </div>
      </div>
      <app-join-room-form [form]="joinRoomForm" (next)="next()">
      </app-join-room-form>
    </div>
  </div>

  <div class="created flex-container" *ngIf="page">
    <div class="block">
      <div class="space" style="position: relative;">
        <input  type="text" [disabled]="true" placeholder="{{ roomCode }}" />
          <svg class="share" width="30" height="30">
            <image xlink:href="assets/Share.svg" width="30" height="30" />
          </svg>
      </div>
      <div class="black flex">
        <img
          class="avatar rolling-avatar animate__animated animate__fadeInRight"
          src="{{ avatarImg }}"
          alt=""
        />
      </div>
      <div class="flex">
        <button class="usual-buttons" [disabled]="true">Start</button>
      </div>
    </div>
  </div>

  <div class="prev" *ngIf="state >= 2 && !page">
    <svg (click)="previous()" width="30" height="30">
      <image xlink:href="assets/back_arrow.svg" width="30" height="30" />
    </svg>
  </div>
</ng-container>
