<form class="flex-column" style="margin-top:10px" *ngIf="form" [formGroup]="form">

  <div>
    <input type="text" formControlName="roomName" placeholder="-Room name-" />
  </div>

  <div>
    <input
      type="text"
      maxlength="1"
      playerNumbersOnly
      formControlName="playersNum"
      placeholder="-No of players-"
    />
  </div>
  
  <div class="flex">
    <button
      class="usual-buttons"
      [disabled]="form.invalid"
      (click)="nextStep()"
    >
      Create
    </button>
  </div>
</form>
